@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --coffee-dark: #3E2723;
  --coffee-medium: #6D4C41;
  --coffee-light: #A1887F;
  --cream: #EFEBE9;
}

body {
  color: var(--coffee-dark);
  background: var(--cream);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
